<p>recent matches</p>
<button ng-click="getRecentMatches()">Get Recent Matches</button>
<br/>
<div>{{recentMatchesTest}}</div>
<hr/>
<p>submit quick match</p>
<form novalidate class="constructedQuickEntryForm">
	Own Class: <input type="text" ng-model="constructedEntry.ownClass"/>
	DeckID: <input type="text" ng-model="constructedEntry.deckID"/>
	<br/>
	Opponent Class: <input type="text" ng-model="constructedEntry.opponentClass"/>
	<br/>
	<br/>
	<input type="radio" ng-model="constructedEntry.result" value="win" />win
	<input type="radio" ng-model="constructedEntry.result" value="loss" />loss<br/>
	<br/>
	<input type="radio" ng-model="constructedEntry.coin" value="false" />no coin
	<input type="radio" ng-model="constructedEntry.coin" value="true" />coin
	<br/>
	<br/>
	Comments:<br/>
	<textarea ng-model="constructedEntry.comments"></textarea>
	<!-- figure out how to do this crap -->
	<!--
	<dropdown placeholder="Select Class..." list="classes" selected="constructedEntry.opponentClass" property="className"></dropdown>
	-->
	<br/>
	<br/>
	<input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="submitConstructedMatch(constructedEntry)" value="Submit" />
</form>