<p>recent matches</p>
<!--test -->
<table class="hsClassesTest">
  <tr ng-repeat="x in hsClasses">
    <td>{{x}}</td>
  </tr>
</table>
<!-- end test-->
<button ng-click="getRecentMatches()">Get Recent Matches</button>
<br/><br/>
<table class="hsMatchesTable">
  <tr>
  <th>gameID</th>
  <th>timestamp</th>
  <th>own class</th>
  <th>opponent class</th>
  <th>deckID</th>
  <th>coin</th>
  <th>win?</th>
  <th>comments</th>
  </tr>
  <tr ng-repeat="x in recentMatches">
    <td>{{ x.gameID }}</td>
    <td>{{ x.played_ts }}</td>
	<td>{{ x.ownClass }}</td>
	<td>{{ x.opponentClass }}</td>
	<td>{{ x.deckID }}</td>
	<td>{{ x.coin }}</td>
	<td>{{ x.win }}</td>
	<td>{{ x.comments }}</td>
  </tr>
</table>
<div>{{recentMatchesTest}}</div>
<hr/>
<p>submit quick match</p>
<form novalidate class="constructedQuickEntryForm">
	<label for="ownClassSelect"> Own Class: </label>
    <select name="ownClassSelect" id="ownClassSelect" ng-model="constructedEntry.ownClass">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
      <!-- <option value="{{data.option1}}">Option 1</option> --><!-- interpolation example -->
      <!-- TODO: use interpolation to read class list from constant (same for opponent class -->
	  <option value="Druid">Druid</option>
	  <option value="Hunter">Hunter</option>
	  <option value="Mage">Mage</option>
	  <option value="Paladin">Paladin</option>
	  <option value="Priest">Priest</option>
	  <option value="Rogue">Rogue</option>
	  <option value="Shaman">Shaman</option>
	  <option value="Warlock">Warlock</option>
	  <option value="Warrior">Warrior</option>
    </select><br>
	
	
	DeckID: <input type="text" ng-model="constructedEntry.deckID"/>
	<br/>
	Opponent Class: <input type="text" ng-model="constructedEntry.opponentClass"/>
	<br/>
	<br/>
	<input type="radio" ng-model="constructedEntry.result" value="win" />win
	<input type="radio" ng-model="constructedEntry.result" value="loss" />loss<br/>
	<br/>
	<input type="radio" ng-model="constructedEntry.coin" value="false" />no coin
	<input type="radio" ng-model="constructedEntry.coin" value="true" />coin
	<br/>
	<br/>
	Comments:<br/>
	<textarea ng-model="constructedEntry.comments"></textarea>
	<!-- figure out how to do this crap -->
	<!--
	<dropdown placeholder="Select Class..." list="classes" selected="constructedEntry.opponentClass" property="className"></dropdown>
	-->
	<br/>
	<br/>
	<input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="submitConstructedMatch(constructedEntry)" value="Submit" />
</form>