<p>recent matches</p>
<button ng-click="getRecentMatches()">Get Recent Matches</button>
<br/><br/>
<table class="hsMatchesTable">
  <tr>
  <th>gameID</th>
  <th>timestamp</th>
  <th>own class</th>
  <th>opponent class</th>
  <th>deckID</th>
  <th>coin</th>
  <th>win?</th>
  <th>comments</th>
  </tr>
  <tr ng-repeat="x in recentMatches">
    <td>{{ x.gameID }}</td>
    <td>{{ x.played_ts }}</td>
	<td>{{ x.ownClass }}</td>
	<td>{{ x.opponentClass }}</td>
	<td>{{ x.deckID }}</td>
	<td>{{ x.coin }}</td>
	<td>{{ x.win }}</td>
	<td>{{ x.comments }}</td>
  </tr>
</table>
<div>{{recentMatchesTest}}</div>
<hr/>
<p>submit quick match</p>
<form novalidate class="constructedQuickEntryForm">
	<label for="ownClassSelect"> Own Class: </label>
    <select name="ownClassSelect" id="ownClassSelect" ng-model="constructedEntry.ownClass">
      <option value="">---Please select---</option>
	  <option ng-repeat="x in hsClasses" value="{{x}}">{{x}}</option>
    </select><br>
	DeckID: <input type="text" ng-model="constructedEntry.deckID"/>
	<br/>
	<label for="opponentClassSelect"> Opponent Class: </label>
    <select name="opponentClassSelect" id="opponentClassSelect" ng-model="constructedEntry.opponentClass">
      <option value="">---Please select---</option>
	  <option ng-repeat="x in hsClasses" value="{{x}}">{{x}}</option>
    </select><br>
	<br/>
	<input type="radio" ng-model="constructedEntry.result" value="win" />win
	<input type="radio" ng-model="constructedEntry.result" value="loss" />loss<br/>
	<br/>
	<input type="radio" ng-model="constructedEntry.coin" value="false" />no coin
	<input type="radio" ng-model="constructedEntry.coin" value="true" />coin
	<br/>
	<br/>
	Comments:<br/>
	<textarea ng-model="constructedEntry.comments"></textarea>
	<!-- figure out how to do this crap -->
	<!--
	<dropdown placeholder="Select Class..." list="classes" selected="constructedEntry.opponentClass" property="className"></dropdown>
	-->
	<br/>
	<br/>
	<input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="submitConstructedMatch(constructedEntry)" value="Submit" />
</form>